<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DDD7A8A1EA61DF8001602BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DDD7A9E1EA61DF8001602BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DDD7AA91EA61DF8001602BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
